<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.QuanLyMuonTraThuVien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.DangKyPhieuMuonActivity"
            android:exported="false"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.DangKyTheThuVienActivity"
            android:exported="false"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity android:name=".ui.ManHinhChaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".ui.NguoidungActivity"
            android:parentActivityName=".ui.HomeActivity" />
        <activity
            android:name=".ui.ThemNguoiDungActivity"
            android:parentActivityName=".ui.NguoidungActivity" />
        <activity
            android:name=".ui.DoiMatKhauActivity"
            android:parentActivityName=".ui.NguoidungActivity" />
        <activity
            android:name=".ui.DanhSachSachActivity"
            android:parentActivityName=".ui.HomeActivity" />
        <activity
            android:name=".ui.ThemSachActivity"
            android:parentActivityName=".ui.DanhSachSachActivity" />
        <activity
            android:name=".ui.MuonSachActivity"
            android:parentActivityName=".ui.HomeActivity" />
        <activity
            android:name=".ui.ThemMuonSachActivity"
            android:parentActivityName=".ui.MuonSachActivity" />
        <activity
            android:name=".ui.ChiTietNguoiDungActivity"
            android:parentActivityName=".ui.NguoidungActivity" />
        <activity android:name=".ui.ChiTietSachActivity" />

        <activity android:name=".ui.TraSachActivity"
            android:parentActivityName=".ui.HomeActivity"/>
    </application>

</manifest>